.container-fluid{
  height: 100vh;
  box-sizing: border-box;
}
.col-md-6{
  height: 100vh;
  /* box-sizing: border-box; */
}
.left{
  padding: 0rem;
  overflow: scroll;
  overflow-x: hidden;
}


/* navbar */
.navigation {
  padding: 0;
  /* position: fixed;
  align-content: center; */
}

.navigation .bg-light {
    background-color: red !important;
}
nav ul li a{
  color: rgb(10, 2, 2) !important;
  font-size: 1.3rem;
  font-family: sans-serif;
  /* text-transform: uppercase; */
}

nav ul li a:hover {
  color: #3ec2bb !important;
}

/* content */
section#home{
  background-color: #659dbd;
  color: white;
}
section#home p{
  font-size: 1.5rem;
}

section{
  height: 100vh;
}
article{
  padding:12rem 5rem;  
}
article button:hover{
  color: white !important;
  background-color: #323133 !important;
  border-color:#323133 !important;
}
/* Projects */
section#projects .row{
  padding: 0;
  margin:0;
}
section#projects{
  box-sizing: border-box;
  padding-top: 3rem;
}
section#projects .row{
  padding: 5rem 1.8rem;
}

section#projects .card:hover {
  background-color: rgba(23, 27, 27, 0.5);
  cursor: pointer;
  padding: 1rem;
  color: white;
}

/* contact */
section#contact{
  padding:13rem 5rem;
  box-sizing: border-box;
  /* background-color: antiquewhite; */
  background-color: #557a95;
}